.socials {
  display: flex;
  margin: 0;
  padding: 0;
  @extend %list;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  @extend %link;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: $main-light-color;
  transition: fill 250ms $transition-timing-function;

  .socials__link:hover &,
  .socials__link:focus & {
    fill: $main-light-color;
  }
}
.socials__link--white {
  background-color: $main-light-color;
}
.socials__icon--grey {
  fill: #afb1b8;
}
