.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: $list-gap;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $title-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  @extend %list;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    gap: $list-gap;
  }
  @media screen and (min-width: $tablet-width) and (max-width:calc(#{$desktop-width} - 1px)) {
    flex-wrap: wrap;
  }
}
.member-card {
  @media screen and (max-width:calc(#{$tablet-width} - 1px)) {
    margin-bottom: $list-gap;
  }

  @media screen and (min-width: $tablet-width) and (max-width:calc(#{desktop-width} - 1px)) {
    flex-basis: calc((100% - $list-gap) / 2);
  }

  @media screen and (min-width: $desktop-width) {
    flex-basis: calc((100% - 90px) / 3);
  }

  background-color: $main-light-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-card__image {
  max-width: 100%;
}
.member-card__info {
  padding-top: $list-gap;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop-width) {
    padding-bottom: $list-gap;
  }
}
.member-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $title-color;
}
.member-card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
