$main-light-color: #ffffff;
$footer-backgroung-color: #2f303a;
$main-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$primaty-font-family: Roboto, sans-serif;
$seconday-font-family: Raleway, sans-serif;
$primary-letter-spacing: 0.03em;
$seconday-letter-spacing: 0.06em;
$list-gap: 30px;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
